/*================================
=            Variable            =
================================*/

$primary  : #283131;
$secondary: #FDC900;
$third   : #fff;

$border_thin: 0.07rem;
$border_normal: 0.15rem;
$border_bold: 0.3rem;
$border_heavy: 0.6rem;

$error  : #E6002F;
$success: #3CB371;

$black      : #003946;
$dark-gray  : #4F7780;
$middle-gray: #6996A0;
$light-gray : #A3BCC2;

$action-color: $secondary;

@mixin border-var($borderWidth, $borderColor) {
    border: $borderWidth solid $borderColor;
}

@mixin widthCalc($widthCalc, $widthCalcMinus) {
    width: calc(#{$widthCalc} - #{$widthCalcMinus});
}

$base-duration:     0.3s;
$base-timing:       0.3s;

/*=============================
=            Media            =
=============================*/

$imac27 : 2560px;
$imac21 : 1920px;
$cinema : 1680px;
$pad_g  : 1140px;
$pad_v  : 768px;
$mobile : 500px;

$XXLarge: (media: "(min-width: #{$imac27})");
$XLarge: (media: "(min-width: #{$imac21}) and (max-width: #{$imac27})");
$Large: (media: "(min-width: #{$cinema}) and (max-width: #{$imac21})");
$Medium: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g})");
$XSmall: (media: "(max-width: #{$pad_v})");
$Small: (media: "(max-width: #{$mobile})");
$HSmall: (media: "(max-height: #{$mobile})");
$Landscape: (media: "(max-width: #{$pad_v}) and (orientation: landscape)");
$XPortrait: (media: "(min-width: #{$pad_v}) and (max-width: #{$pad_g}) and (orientation: portrait)");

/*=====  End of Media  ======*/

/*----------  Header  ----------*/
$headerWidth          : 6vw;
$headerLogoWidth      : ($headerWidth * 2);
$headerSocialTopHeight: 8vh;

$headerHeightMobile   : 3rem;

/*----------  Footer  ----------*/
$footerHeight     : 3rem;
$footer-background: $secondary;

/*=====  End of Variable  ======*/

/*=============================
=            Fonts            =
=============================*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@include font-face (
    "PF Din Text Cond Pro Medium",
    "fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

$primary-font        :  "Roboto", sans-serif;
$primary-font-bold   :  "Roboto", sans-serif;
$heading-font        : "PF Din Text Cond Pro Medium";
$heading-font-bold   :  'Roboto Condensed', sans-serif;

$body-font-color     :  $third;

$body-font-size      :  1rem !default;
$body-font-weight    :  normal !default;
$body-line-height    :  1.4 !default;
$heading-line-height :  0.91 !default;

$bourbon: (
    "modular-scale-base": $body-font-size,
    "modular-scale-ratio": $minor-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      5.5vw !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      5.5vw !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      2vw !default; // ~2rem 33px
$font-size-h4:      $font-size-large !default; // ~1.728rem 28px
$font-size-h5:      modular-scale(1) !default; // ~1.44rem 23px
$font-size-h6:      $font-size-base !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    @include grid-media($XXLarge) {
        font-size: $font-size-base;
    }

    @include grid-media($XLarge) {
        font-size: $font-size-base;
    }

    @include grid-media($Medium) {
        font-size: $font-size-large;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large;
    }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    // text-transform: uppercase;
    margin-top: $border_thin;
    margin-bottom: 0.5em;
}
/*=====  End of Fonts  ======*/


/*==============================
=            Layout            =
==============================*/

%scrollbar_body {
    &::-webkit-scrollbar-track {
        // width: $border_normal;
        background-color: rgba($secondary, 0.1);
        // display: none;
    }

    &::-webkit-scrollbar {
        width: $border_normal;
        background: rgba($secondary, 0.1);
        // display: none;

        // &::window-inactive {

        // }

    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
        // display: none;

        &:window-inactive {
            background-color: $secondary;
            // display: none;
        }
    }

    @include grid-media($Small) {

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

%scrollbar_sidebar {
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 4px;
        background: $secondary;

    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
        //border: 2px solid #555555;

        &:window-inactive {
            opacity: 0;
        }
    }
}

body {
    @extend %px;
    margin: 0;
    height: 100%;
    background-color: $primary;
    @extend %scrollbar_body;

    p {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include grid-media($Small) {
        font-size: $font-size-base;
    }
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    color: $third;
    text-transform: uppercase;
    //text-align: center;
    //transition: all .3s;

    @include grid-media($Medium) {
        font-size: $font-size-large + 0.5;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large + 0.3;
    }

    @include grid-media($Small) {
        font-size: $font-size-base;
    }
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $third;
    text-transform: uppercase;

    @include grid-media($Small) {
        font-size: $font-size-large + 0.3;
        line-height: 1.2;
    }
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $third;
    // text-transform: uppercase;
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    color: $primary;
    margin-bottom: 0.3rem;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}

span {

    @include grid-media($Medium) {
        font-size: $font-size-base;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

input {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
}

svg {
    transition: all 0.3s;
    overflow: initial;

    g {
        transition: all 0.3s;
    }

    path,
    rect,
    polygon {
        transition: all 0.3s;
    }
}
/*=====  End of Layout  ======*/

