/*==============================
=            Footer            =
==============================*/
.footer {
    width: calc(100% - (#{$headerHeightMobile} * 2));
    min-height: $footerHeight;
    background: $footer-background;
    display: none;
    visibility: hidden;
    position: relative;
    overflow: auto;
    bottom: 0;
    padding: ($headerHeightMobile / 2) $headerHeightMobile;
    z-index: 0;

    &-container {
        width: 100%;

        &__copyright {
            width: 100%;
            color: $primary;
            border-bottom: $border_normal solid $third;
            padding-bottom: 1rem;
        }

        &__author {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            padding-top: 0.5rem;

            span {
                width: 40%;
                font: {
                    //family: $font-family-base;
                    size: $font-size-small;
                };
                line-height: 1;
                color: $primary;
                display: inline-block;
            }

            a {
                width: calc(60% - 1rem);
                margin-left: 1rem;
                margin-top: 0.6rem;
                display: inline-block;

                svg {
                    width: 100%;
                    height: auto;
                    transition: all 0.2s;

                    .redvus-logo__red {
                        fill: $third;
                    }

                    .redvus-logo__deepred {
                        fill: $primary;
                    }

                    &:hover {
                        fill: $third;
                    }
                }
            }
        }
    }

    @include grid-media($Small) {
        display: block;
        visibility: visible;
    }
}

/*=====  End of Footer  ======*/
