/*==============================
=            Header            =
==============================*/
.header {
	width: $headerWidth;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: $primary;
	left: 0;
	top: 0;
	z-index: 1000;

	&__element {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;

		&-top {
			height: $headerSocialTopHeight;
			cursor: pointer;

			&:hover {
				background-color: lighten($primary, 5%);

				.nav-toggle {

					&__line {
						background-color: $secondary;

						&--before {
							background-color: $secondary;
							// transform: translateY(-400%);
							transform: translateY(-300%) scaleX(0.72);
						}

						&--after {
							background-color: $secondary;
							// transform: translateY(400%);
							transform: translateY(300%) scaleX(0.72);
						}
					}
				}
			}
		}

		&-part {
			width: 100%;
			height: $headerSocialTopHeight;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: $font-size-large + 0.5;
			transition: all 0.3s;

			i {
				color: $third;
				transition: all 0.3s;
			}

			&:hover {
				background-color: lighten($primary, 5%);

				i {
					color: $secondary;
					// transform: scale(1.05);
				}
			}
		}

		&-full {
			height: 100%;
		}

		&-half {
			height: 100%;
		}
	}

	&__logo {
		width: $headerLogoWidth;
		height: $headerLogoWidth;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		left: 0;
		// top: 12vh;
		background-color: $secondary;
		z-index: 3;

		svg {
			width: 70%;
			height: auto;
			transition: transform 0.4s;

			#goliaphLogoG {
				fill: $secondary;
				fill-rule: evenodd;
				stroke: none;
			}

			// #goliaphLogoArrows {
			// 	stroke: $secondary;
			// 	stroke-width: 0.15rem;
			// }
		}

		// &:hover {

		// 	svg {
		// 		transform: translateX(-3%);
		// 	}
		// }
	}

	&-mask {
		width: 100%;
		height: 100vh;
		display: block;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba($primary, 0.7);
		z-index: 999;
		opacity: 0;
	}

	&-device,
	&-device--pad {
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $primary;
		position: fixed;
		text-align: center;
		z-index: 9999;
		display: none;
		visibility: hidden;

		&__image {
			width: 6rem;
			display: block;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		span {
			font-size: $font-size-small;
		}
	}

	@include grid-media($XXLarge) {

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XLarge) {

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Large) {

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($Medium) {

		&__nav {

			&--mobile {
				display: none;
				visibility: hidden;
			}
		}
	}

	@include grid-media($XSmall) {

	}

	@include grid-media($Small) {
		width: 100%;
		height: $headerHeightMobile;
		flex-direction: row;
		// border-bottom: $border_bold solid $secondary;

		&__logo {
			width: $headerHeightMobile * 2;
			height: $headerHeightMobile * 2;
			// left: $headerHeightMobile;
			// top: 0;
		}

		&__element {
			width: calc(100% - (#{$headerHeightMobile} * 3) - 1rem);
			height: $headerHeightMobile;
			flex-direction: row;
			padding: 0 0.5rem;

			&-top {
				width: $headerHeightMobile;
				height: $headerHeightMobile;
				padding: 0;
			}

			&-part {
				width: calc(100% / 3);
				height: 100%;
			}
		}
	}

	@include grid-media($XPortrait) {

		&-device {
			display: none;
			visibility: hidden;

			&--pad {
				display: flex;
				visibility: visible;
			}
		}
	}

	@include grid-media($Landscape) {

		&-device {
			display: flex;
			visibility: visible;

			&--pad {
				display: none;
				visibility: hidden;
			}
		}
	}
}

.anchor-nav {
	top: 0;
	right: 0;
	position: fixed;
	z-index: 9999;

	ul {

		li {
			display: inline-block;

			a {
				color: $third;
			}
		}
	}
}
/*=====  End of Header  ======*/
