/*==============================
=            Layout            =
==============================*/

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	// padding: $headerHeight $sidebarPadding $headerHeight;
	// margin-bottom: $footerHeight;
	position: relative;
	overflow: hidden;
	// margin-bottom: calc(300px + 4rem);
	// background-color: $bgColor;
	//transition: all .3s;
	// box-shadow: 0 0.3rem 0.6rem rgba($five, 0.3);
	z-index: 2;
	// animation: fadeIn 0.3s ease-in-out;
	@extend %scrollbar_body;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: $secondary;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: $secondary;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	&-front {
		width: 400vw;
		height: 98vh;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__title {
		width: calc(100% - #{$headerLogoWidth} - (#{$headerWidth} * 1.5));
		height: calc(#{$headerLogoWidth} - #{$border_bold});
		display: block;
		position: fixed;
		padding: 0 0 0 ($headerWidth / 2);
		border-bottom: $border_bold	solid $secondary;
		top: $headerSocialTopHeight;
		left: $headerLogoWidth;
		z-index: 2;

		h1 {
			color: $third;
		}
	}

	&__mask {
		width: 100%;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		// background-color: rgba($primary, 0.6);
		background: url('/assets/images/pattern_2.png') repeat;
		top: 0;
		z-index: 1;
	}

	&__back {
		width: 100vw;
		height: 100vh;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;

		&-image {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__content {
		width: calc(100% - #{$headerLogoWidth} - #{$headerWidth});
		height: calc(100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth});
		display: flex;
		flex-direction: column;
		position: relative;
		top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
		left: $headerLogoWidth;
		overflow: hidden;

		&-half {
			width: 24%;
			min-height: 15vh;
			display: block;
			position: absolute;
			padding: 3rem;
			background-color: $secondary;
			top: 0;
			left: 0;
			z-index: 1;

			h3 {
				color: $primary;
				font-size: $font-size-h3 + 0.4;
			}

			p {
				color: $primary;
				font-family: $heading-font;
				font-size: $font-size-large + 0.3;
			}

			ul {

				li {

					a {
						font-family: $heading-font;
						font-size: $font-size-large + 0.3;

						&:hover {
							color: $third;
						}
					}

					i {
						font-family: 'fontawesome';
						font-size: $font-size-large + 0.3;
						color: $third;
						margin-right: 1rem;

						&.fa-envelope {
							margin-right: 0.8rem;
						}
					}
				}
			}
		}

		&-full {
			width: calc(100% - #{$headerWidth});
			height: 100vh;
			display: flex;
			left: $headerWidth;
			top: 0;
			position: relative;
			z-index: 1;
		}
	}

	&__icon {
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: 0;

		img {
			width: auto;
			height: 45vh;
			display: block;
			float: right;
		}
	}

	&--visible {
		animation: translateIn 1.5s ease-in-out;
	}

	@include grid-media($Medium) {

	}

	@include grid-media($XSmall) {

	}

	@include grid-media($Small) {
		background-color: $primary;
		padding-top: ($headerHeightMobile * 2.5);

		&-front {
			width: 100%;
			height: inherit;
			min-height: 100vh;
			display: block;
			position: relative;

			&>#section_0 {
				display: none;
				visibility: hidden;
			}
		}

		&__back,
		&__mask {
			display: none;
			visibility: hidden;
		}

		&__title {
			display: none;
			visibility: hidden;
		}

		&__icon {
			display: none;
			visibility: hidden;
		}

		&__content {
			width: calc(100% - #{$headerHeightMobile});
			height: calc(100vh - (#{$headerHeightMobile} * 3));
			top: $headerHeightMobile * 2;
			left: $headerHeightMobile;
			position: absolute;
			padding-top: $headerHeightMobile;

			&-half {
				width: 100%;
				height: 100%;
				padding: 0;
				background-color: transparent;
				position: relative;

				h3 {
					font-size: 8vw;
					color: $third;
				}

				p {
					color: $third;
					margin: 0.5rem 0;
				}

				ul {

					li {
						margin: 0.5rem 0;

						i {
							color: $secondary;
						}

						a {
							color: $third;
						}
					}
				}
			}
		}
	}
}

.main-wrapper {
	width: calc(100vw - #{$headerLogoWidth} - #{$border_normal});
	height: 100vh;
	overflow: auto;
	left: calc(#{$headerLogoWidth} + #{$border_normal});
	cursor: url('images/cursorGallery.png') 35 18, pointer !important;
	position: fixed;

	@include grid-media($Small) {
		width: calc(100% - (#{$headerHeightMobile} * 2));
		height: inherit;
		min-height: 100vh;
		padding: ($headerHeightMobile * 2.5) $headerHeightMobile $headerHeightMobile;
		left: 0;
	}
}

.map-wrapper {
	width: calc(100vw - #{$headerLogoWidth} - #{$border_normal});
	height: 100vh;
	left: calc(#{$headerLogoWidth} + #{$border_normal});
	position: fixed;

	@include grid-media($Small) {
		width: calc(100% - (#{$headerHeightMobile} * 2));
		height: inherit;
		min-height: 100vh;
		padding: ($headerHeightMobile * 2.5) $headerHeightMobile $headerHeightMobile;
		left: 0;
		position: relative;
	}
}

.filled {
	fill: $primary;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes translateIn {
	from {
		transform: scale(0.7);
		opacity: 0
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/*=====  End of Layout  ======*/


/*==================================
=            Arrow down            =
==================================*/

.arrow-down {
    width: $headerWidth / 3;
    height: $headerWidth / 2;
    display: block;
    // background-color: $secondary;
    border: $border_normal solid $secondary;
    // border-radius: 20px;
    //border-top-left-radius: 25px;
    //border-top-right-radius: 25px;
    position: absolute;
    bottom: $headerWidth / 2;
    right: ($headerWidth / 2) + 0.5;
    // transform: translateX(-50%);
    // bottom: $sidebarPadding / 3;
    z-index: 999;
    // animation: fadeIn 1.4s ease-in-out;

    // &:hover {
    //     //border-color: lighten(@brand-primary, 25%);
	// }

	&:before {
		content: "";
		width: $border_heavy;
		height: $border_heavy;
		display: block;
		background-color: $secondary;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all 2s;
		transform-origin: 50% 50%;
		animation: arrow-down 1.5s forwards infinite normal ease-in-out;
	}

    svg {
        width: 30px;
	    height: 50px;
        padding: 5px;

        rect, polyline {
            fill: $primary;
        }

        #arrowDownMove {
        	stroke: $primary;
        	stroke-width: 5;
        	fill: none;
        	animation: arrow-down 0.6s infinite alternate ease-out;
        }
    }

    @include grid-media($Small) {
        visibility: hidden;
    }
}

@keyframes arrow-down {
	0% {
		top: 10%;
		opacity: 1;
	}
	50% {
		top: 50%;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 0;
	}
}

/*=====  End of Arrow down  ======*/