/*==================================
=            Navigation            =
==================================*/

.nav-main {
	width: $headerLogoWidth;
	// height: calc(100vh - #{$headerLogoWidth} - #{$headerSocialTopHeight});
	position: fixed;
	// left: -100%;
	top: calc(#{$headerLogoWidth} + #{$headerSocialTopHeight});
	// padding: 3rem 0;
	// background-color: $secondary;
	z-index: 9910;
	visibility: hidden;
	display: block;
	transform: translateX(-100%);

	ul {
		width: 100%;

		li {
			width: calc(100% - 4rem);
			height: $headerSocialTopHeight;
			padding: 0 2rem;
			text-align: right;
			background-color: $secondary;

			a {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				font-family: $heading-font;
				font-size: $font-size-large;
				line-height: 1;
				text-align: right;
			}

			&:hover {
				background-color: darken($secondary, 3%);
			}

			&.active {
				background-color: darken($secondary, 7%);

				a {
					color: $third;
				}
			}
		}
	}

	&--hidden {
		display: none;
		visibility: hidden;
		transform: translateX(-100%);
	}

	&--visible {
		display: flex;
		align-items: center;
	}

	&--mobile {
		width: calc(100% - #{$headerHeightMobile});
		// height: calc(100vh - 6rem - 100px);
		position: fixed;
		right: 0;
		top: $headerHeightMobile * 2;
		// padding: 3rem 0;
		// background-color: $secondary;
		overflow: hidden;
		transform: translateX(100%);
		z-index: 9910;

		ul {
			width: 100%;

			li {
				width: calc(100% - (#{$headerHeightMobile} * 2));
				height: $headerSocialTopHeight;
				padding: 0 $headerHeightMobile;
				text-align: right;
				background-color: $secondary;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					font-family: $heading-font;
					font-size: $font-size-large;
					line-height: 1;
					text-align: right;
				}

				&:hover {
					background-color: darken($secondary, 3%);
				}

				&.active {
					background-color: darken($secondary, 7%);

					a {
						color: $third;
					}
				}
			}
		}
	}

	@include grid-media($XXLarge) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($XLarge) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($Large) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($Medium) {

		&--mobile {
			display: none;
		}
	}

	@include grid-media($XSmall) {
		// flex-direction: column;
		// justify-content: center;
		// align-items: flex-end;
	}

	@include grid-media($Small) {
		display: none;
		visibility: hidden;

		// &--mobile {
		// 	display: block;
		// 	left: -150%;
		// }
	}
}

.nav-toggle {
	width: $headerSocialTopHeight / 2;
	height: $headerSocialTopHeight / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 9999;
	transform: translate(-50%, -50%);

	&__line {
		width: 100%;
		height: $border_normal;
		display: block;
		background-color: $third;
		position: absolute;

		&--before {
			width: 100%;
			height: $border_normal;
			display: block;
			position: absolute;
			background-color: $third;
			transform: translateY(-300%);
			transform-origin: 0 0;
			transition: transform 0.3s;
		}

		&--after {
			width: 100%;
			height: $border_normal;
			display: block;
			position: absolute;
			background-color: $third;
			transform: translateY(300%);
			transform-origin: 100% 0;
			transition: transform 0.3s;
		}

		&--open {
			height: 0;

			&::before {
				transform: rotate(45deg) translateY(0);
			}

			&::after {
				transform: rotate(-45deg) translateY(0);
			}
		}
	}


	@include grid-media($Small) {
		width: $headerHeightMobile / 2;
		height: $headerHeightMobile / 2;

		#toggleBack,
		.menu-back,
		#menu_icon {
			display: none;
			visibility: hidden;
		}

		&--mobile {
			display: flex;
			visibility: visible;
			z-index: 9999;
		}
	}
}

.nav-back {
	width: 50%;
	height: calc(100vh - 6rem);
	top: 0;
	right: -100%;
	padding: 3rem 0;
	position: fixed;
	background-color: $primary;
	z-index: -1;
	display: block;
	// align-items: center;
	// opacity: 0.7;
	// display: none;
	// visibility: hidden;
	// transform: translateX(100%);

	&--visible {
		display: block;
		visibility: visible;
	}

	.nav-close {
		width: 3rem;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		// border-radius: 50%;
		// border: 0.3rem solid $secondary;
		background-color: $primary;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		cursor: pointer;
		transition: background 0.3s;
		transform-origin: 50% 50%;
		z-index: 9600;

		svg {
			width: 2rem;
			height: 2rem;
			// transform: rotate(45deg);

			polygon {
				fill: $secondary;
			}
		}

		&:hover {

			svg {
				transform: rotate(-180deg);
			}
		}
	}

	@include grid-media($Medium) {
		// width: calc(50% - 8rem);
		// padding: 3rem 4rem 3rem;
	}

	@include grid-media($XSmall) {
		// width: calc(50% - 8rem);
		// padding: 3rem 4rem 3rem;
	}

	@include grid-media($Small) {

		.nav-close {
			display: none;
			visibility: hidden;
		}
	}
}

/*=====  End of Navigation  ======*/
