.scroll-slider {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	height: 100vh;
}

.scroll-wrapper {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.scroll-slide {
	flex: 1 0 75vw;
	max-width: 75vw;
	height: 100%;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&-container {
		position: relative;
	}

	&-title {
		font-size: 4vw;
		font-weight: bold;
		line-height: 1;
	}

	&-body {
		@media (min-width:40em) {
		position: absolute;
		left: 100%;
		top: 50%;
		width: 50%;
		transform: translate(-25%, -50%);
		}
	}
}

.tag {
	margin-right: .5rem;

	> a {
		display: block;
		padding: .25rem .5rem;
		font-size: .75rem;
		text-transform: uppercase;
		background: rgba(#FFFFFF, .25);
		color: #FFF;
	}
}