/*=============================================
=                   Section                   =
=============================================*/

.section {
	width: 100vw;
	height: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	// top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
	// left: $headerLogoWidth;

	&s {
		width: 100%;
		min-height: 100vh;
		display: block;
	}

	&-gallery {
		min-width: 100vw;
		height: 100vh;
		float: left;
		position: relative;

		// &:first-child {
		// 	width: 200vw;
		// }

		// &:nth-child(2) {
		// 	background-color: $secondary;
		// }

		&__title {
			// width: calc(100vw - (#{$headerWidth} * 3));
			// height: calc(#{$headerWidth} - #{$border_bold});
			// display: block;
			// position: fixed;
			// text-align: right;
			// bottom: $headerWidth;
			// right: $headerWidth;
			// z-index: 2;
			width: calc(100% - (#{$headerLogoWidth} + 0.15vw) - (#{$headerWidth} * 1.5));
			height: calc(#{$headerLogoWidth} - #{$border_bold});
			display: block;
			position: fixed;
			padding: 0 0 0 ($headerWidth / 2);
			border-bottom: $border_bold	solid $secondary;
			top: $headerSocialTopHeight;
			left: $headerLogoWidth + 0.15;
			// text-align: right;
			z-index: 2;

			h2 {
				font-size: $font-size-h3;
				color: $secondary;
				position: absolute;
				left: ($headerWidth / 2);
				bottom: 0;
				margin-bottom: ($headerWidth / 2);
			}

			&--mobile {
				width: 100%;
				height: inherit;
				min-height: 2rem;
				position: relative;
				top: 0;
				left: 0;
				padding: 0 0 0.5rem;
				margin-bottom: 1rem;
				border-bottom: $border_normal solid $secondary;
				display: none;
				visibility: hidden;

				h2 {
					text-transform: uppercase;
				}

			}
		}

		&__line {
			width: calc(100% - (#{$headerWidth} * 3));
			height: calc(100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth});
			display: flex;
			position: fixed;
			// padding: ($headerWidth / 2) 0 ($headerWidth / 2) ($headerWidth / 2);
			border-left: $border_normal solid $secondary;
			border-bottom: $border_normal solid $secondary;
			top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
			left: $headerLogoWidth;
			z-index: 2;
		}

		&__inside {
			width: calc(100% - (#{$headerWidth}));
			height: calc(100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth});
			display: flex;
			position: relative;
			padding: 0 0 0 ($headerWidth / 2);
			top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
			left: 0;
			z-index: 2;

			img {
				width: 100%;
				height: 100%;
				// display: block;
				// position: absolute;
				// top: 50%;
				// left: 50%;
				// transform: translate(-50%, -50%);
				object-fit: cover;
				object-position: center;
			}

			&-map {
				width: calc(100vw - (#{$headerWidth} * 1.5));
				height: calc(100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth});
				display: block;
				position: relative;
				overflow: hidden;
				padding: 0;
				top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
				left: 0;
				z-index: 2;

				span {
					font-family: $heading-font;
					font-size: calc((100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth}) / 6);
					line-height: 1.03;
					text-transform: uppercase;
					color: rgba($secondary, 0.5);
					display: inline-block;
					margin-right: 2rem;
					// opacity: 0.5;
					// transition: opacity 0.3s;
					// text-shadow:
					// -$border_thin -$border_thin 0 $secondary,
					// 	$border_thin -$border_thin 0 $secondary,
					// 	-$border_thin $border_thin 0 $secondary,
					// $border_thin $border_thin 0 $secondary;
					// -webkit-text-stroke-width: $border_thin;
					// -webkit-text-stroke-color: rgba($secondary, 0.5);

					// &:hover {
					// 	opacity: 1;
					// }
				}
			}
		}

		&__picture {
			width: 75vh;
			height: 100%;
			position: relative;
			display: inline-block;
			overflow: hidden;
			margin-right: 2rem;
			// background-position: 50% 50%;
			// background-size: cover;
			// background-repeat: no-repeat;

			picture {
				width: 100%;
				height: calc(100% - (#{$headerWidth} / 2));
				display: block;
				position: relative;
			}
		}

		&__caption {
			width: 100%;
			height: ($headerWidth / 2);
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-family: $heading-font;
				font-size: $font-size-base;
				color: $secondary;
			}
		}

		&__link {
			width: $headerWidth;
			height: $headerWidth;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: calc(50% - (#{$headerWidth} / 4));
			left: 50%;
			border: $border_normal solid $secondary;
			background-color: rgba($secondary, 0.15);
			border-radius: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			transition: all 0.3s;

			svg {
				width: $headerWidth / 2;
				height: $headerWidth / 2;
				display: block;
				transition: all 0.3s;
				transform: translateX(10%);

				path {
					fill: rgba($secondary, 0.3);
					stroke: $secondary;
					stroke-width: $border_normal;
				}
			}

			&--visible {
				display: flex;
				visibility: visible;
			}

			&--invisible {
				display: none;
				visibility: hidden;
			}

			&:hover {
				border-color: $third;
				background-color: rgba($third, 0.3);

				svg {
					transform: translateX(15%);

					path {
						stroke: $third;
						fill: rgba($third, 0.5);
					}
				}
			}
		}
	}

	&-map {
		width: calc(100% - (#{$headerWidth}));
		height: calc(100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth});
		display: block;
		position: relative;
		padding: 0;
		top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
		left: 0;
		z-index: 2;

		&__inside {
			width: 100%;
			height: 100%;
			display: block;
			overflow: hidden;

			&--mobile {
				width: 100%;
				height: inherit;
				min-height: 100vh;
				padding: 0;
				top: 0;
				display: none;
				visibility: hidden;

				span {
					font-family: $heading-font;
					font-size: 8vw;
					line-height: 1.03;
					text-transform: uppercase;
					color: $secondary;
					display: block;
					margin-right: 0;
					margin-bottom: 0.5rem;
					color: $third;
				}

				br {
					display: none;
				}
			}
		}
	}

	&-nav {
		width: calc(#{$headerWidth} - (#{$headerWidth} / 9));
		height: $border_bold;
		display: flex;
		flex-direction: row;
		position: fixed;
		top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth} - #{$border_bold});
		right: 0;
		padding-left: $headerWidth / 9;
		z-index: 9900;

		a {
			width: calc(#{$headerWidth} / 9);
			height: 100%;
			display: block;
			background-color: $secondary;
			margin-right: $headerWidth / 9;

			// &:last-child {
			// 	margin-right: 0;

			// 	// &.active {
			// 	// 	margin-right: 0;
			// 	// }
			// }

			&.active {
				// width: calc(#{$headerWidth} / 3.5);
				// margin-right: $headerWidth / 14;
				background-color: $third;
			}
		}

		li {
			width: calc(#{$headerWidth} / 9);
			height: 100%;
			display: block;
			background-color: $secondary;
			margin-right: $headerWidth / 9;
		}
	}

	&__title {
		width: calc(100% - #{$headerLogoWidth} - (#{$headerWidth} * 1.5));
		height: calc(#{$headerLogoWidth} - #{$border_bold});
		display: block;
		position: absolute;
		padding: 0 0 0 ($headerWidth / 2);
		// border-bottom: $border_bold	solid $secondary;
		top: $headerSocialTopHeight;
		left: $headerLogoWidth;
		z-index: 9900;
	}

	&__tab {
		width: calc(100% - #{$headerWidth});
		height: $headerSocialTopHeight;
		display: flex;
		flex-direction: row;
		position: relative;
		top: 0;

		&-single {
			width: calc(100% / 6);
			height: 100%;

			a {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $primary;
				color: $third;
				font-family: $heading-font;
				font-size: $font-size-large;
				text-transform: uppercase;
				transition: background 0.3s;
			}

			&:hover {

				a {
					background-color: lighten($primary, 5%);
				}
			}

			&.active {


				a {
					background-color: $secondary;
					color: $primary;
				}
			}
		}
	}

	&__content {
		width: calc(100% - #{$headerLogoWidth});
		height: calc(100vh - #{$headerSocialTopHeight} - #{$headerLogoWidth} - #{$headerWidth});
		display: flex;
		flex-direction: column;
		position: relative;
		top: calc(#{$headerSocialTopHeight} + #{$headerLogoWidth});
		left: $headerLogoWidth;
		// padding: ($headerWidth / 2) $headerWidth ($headerWidth / 2) ($headerWidth / 2);

		&-text {
			display: none;
			transition: all 0.3s;

			&.active {
				display: block;
				animation: fadeDown 0.8s ease-in-out;
			}
		}
	}

	&__gallery {
		width: calc(100% - #{$headerWidth});
		height: $headerSocialTopHeight * 3;
		display: flex;
		flex-direction: row;
		position: relative;
		top: 0;

		&-part {
			width: calc(100% / 5);
			height: 100%;
			display: inline-block;
		}

		&-title {
			background-color: $secondary;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-family: $heading-font;
				font-size: $font-size-large + 1;
				text-transform: uppercase;
				color: $primary;
			}
		}

		&-picture {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;

			picture {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		&-link {
			background-color: $primary;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-family: $heading-font;
				font-size: $font-size-large + 1;
				text-transform: uppercase;
				color: $third;
			}

			&--mobile {
				width: 100%;
				height: $headerHeightMobile;
				display: none;
				visibility: hidden;
				align-items: center;
				justify-content: center;
				background-color: $secondary;
				color: $primary;
				font-family: $heading-font;
				text-align: center;
				line-height: 1;
			}
		}
	}

	&__inside {
		width: calc(100% - (#{$headerWidth} * 1.5));
		height: calc(100% - #{$headerLogoWidth} - #{$headerWidth});
		display: flex;
		position: relative;
		padding: ($headerWidth / 2) 0 ($headerWidth / 2) ($headerWidth / 2);
		border-left: $border_normal solid $secondary;
		border-bottom: $border_normal solid $secondary;

		&-wide {
			width: calc(100% - (#{$headerWidth} * 1.5));
			height: calc(100% - #{$headerLogoWidth} - (#{$headerWidth} / 3));
			display: flex;
			align-items: flex-end;
			position: relative;
			padding: ($headerWidth / 2) 0 ($headerWidth / 2) ($headerWidth / 2);

			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;

				li {
					width: calc((100% / 3) - (#{$headerWidth} / 2) - (#{$border_heavy} * 4));
					min-height: 2rem;
					display: inline-block;
					border-left: $border_heavy solid $secondary;
					padding-left: $border_heavy * 3;

					h3 {
						color: $secondary;
					}
				}
			}
		}
	}

	&__text {
		width: 50%;
	}

	&__icon {
		width: auto;
		height: 15vh;
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;

		img {
			width: auto;
			height: 100%;
			display: block;
		}
	}

	@include grid-media($XXLarge) {


		&-gallery {

			&__inside {

				&-map {
					width: calc(320vw - (#{$headerWidth}));
				}
			}
		}
	}

	@include grid-media($Small) {
		width: calc(100% - (#{$headerHeightMobile} * 2));
		// min-height: calc(100vh - (#{$headerHeightMobile} * 2.5) - 1rem);
		display: block;
		padding: 0 $headerHeightMobile $headerHeightMobile;

		&-nav {
			display: none;
			visibility: hidden;
		}

		&__title {
			width: 100%;
			height: inherit;
			min-height: 2rem;
			position: relative;
			top: 0;
			left: 0;
			padding: 0 0 0.5rem;
			border-bottom: $border_normal solid $secondary;
		}

		&__gallery {
			display: none;
			visibility: hidden;

			&-link {

				&--mobile {
					display: flex;
					visibility: visible;
				}
			}
		}

		&__content {
			width: 100%;
			height: inherit;
			// min-height: 100vh;
			top: 0;
			left: 0;
		}

		&__inside {
			width: 100%;
			height: 100%;
			display: block;
			padding: 0;
			border: none;
		}

		&__text {
			width: 100%;
			padding: 1rem 0;
		}

		&__icon {
			width: 100%;
			height: auto;
			position: relative;

			img {
				width: 100%;
				height: auto;
			}
		}

		&-gallery {
			min-width: inherit;
			width: 100%;
			height: inherit;
			min-height: 100vh;
			margin-bottom: $headerHeightMobile;

			&__inside {
				width: 100%;
				height: inherit;
				min-height: 100vh;
				display: block;
				padding: 0;
				top: 0;

				&-map {
					width: 100%;
					height: inherit;
					min-height: 100vh;
					padding: 0;
					top: 0;

					span {
						font-size: 8vw;
						line-height: 1.03;
						color: $secondary;
						display: block;
						margin-right: 0;
						margin-bottom: 0.5rem;
						color: $third;
					}

					br {
						display: none;
					}
				}
			}

			&__title {
				display: none;
				visibility: hidden;

				&--mobile {
					display: block;
					visibility: visible;
				}
			}

			&__picture {
				width: 100%;
				// height: calc(100vw - #{$headerHeightMobile});
				display: block;
				margin-right: 0;
				margin-bottom: 1rem;

				picture {
					height: calc(100vw - (#{$headerHeightMobile} * 2));
				}
			}

			&__caption {
				width: calc(100% - 1rem);
				height: initial;
				// min-height: $headerHeightMobile;
				background-color: $secondary;
				position: relative;
				text-align: center;
				padding: 0.5rem;

				span {
					color: $primary;
					line-height: 1;
				}
			}

			&__link {
				width: $headerHeightMobile;
				height: $headerHeightMobile;
				top: calc(50% - (#{$headerHeightMobile} / 2));

				svg {
					width: $headerHeightMobile / 2;
					height: $headerHeightMobile / 2;
				}
			}

			&__line {
				display: none;
				visibility: hidden;
			}
		}

		&-map {
			height: inherit;
			min-height: 100vh;
			top: 0;
			margin-bottom: $headerHeightMobile / 2;

			&__inside {
				display: none;
				visibility: hidden;

				&--mobile {
					display: block;
					visibility: visible;
				}
			}
		}
	}
}

@keyframes fadeDown {
	0% {
		opacity: 0;
		transform: translateY(15%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*============  End of Section  =============*/